.modal {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    max-height: 90vh;
    max-width: 480px;
    width: 90vw;
    box-shadow: 0 3px 8px rgba(0,0,0,.25);
    border-radius: var(--border-radius);
    background: #fff;
}

.modal__header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    padding: var(--gap);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    background: var(--color-cool--700);
    color: #fff;
    font-family: var(--font-family--alt);
    font-size: var(--font-size--alt);
}

.modal__header > i {
    margin-right: var(--gap);
}

.modal__body {
    min-height: 0;
    flex: 1;
    padding: var(--gap) var(--gap--large);
    overflow-y: auto;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    padding: var(--gap);

    background: var(--color-cool--100);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
}
