.notification {
    position: relative;
    display: flex;
    flex-flow: row nowrap;

    border-radius: var(--border-radius);
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);

    font-family: var(--font-family--alt);
    font-size: var(--font-size--alt);
}

.notification + .notification {
    margin-top: var(--gap);
}

.notification--info {
    background: var(--color-cool--700);
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.notification--warn {
    background: var(--color-yellow--300);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.notification--error {
    background: var(--color-red--200);
    color: var(--color-red--700);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.notification--fatal {
    background: var(--color-red--700);
    color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.notification--float {
    width: 60%;
}

@media (max-width: 480px) {
    .notification--float {
        width: 80%;
    }
}

.notification__icon {
    flex: 0 0 auto;
    padding: var(--gap);
    font-size: 16px;
    line-height: var(--font-size--alt); /* Balances oneliner height */
}

.notification__close {
    order: 3;
    padding: var(--gap);
    cursor: pointer;
    align-self: flex-start;
}

.notification__body {
    flex: 1;
}

.notification__title {
    margin-top: var(--gap);
}

.notification__message {
    margin: var(--gap) 0;
    font-size: .85em;
    /* font-weight: 300; */
    opacity: .8;
    white-space: pre-wrap;
}
