.param {
    flex-basis: 100%;
    margin: var(--gap);
}

.param select {
    max-width: 100%;
}

.param--boolean {
    flex-basis: 180px;
}

.param--pipeline {
    flex: 1;
    padding: var(--gap);
    margin: 0;
}

.param--pipeline .param--pipeline {
    background: #fff;
    padding-bottom: 0;
    padding-right: 0;
    margin-bottom: 0;
}

.param__title {
    padding-bottom: var(--gap--small);

    font-size: var(--font-size--small);
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: var(--color-cool--500);
}

.param__field {
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
}

.param__label {
    flex: 0 1 100px;
    margin-right: var(--gap--small);
}

.param__controls {
    flex: 1;
    min-width: 0;
}

.param--pipeline .param__code {
    margin: 0 calc(-1 * var(--gap));
}
