.input.input--inverse {
    border: 0;
    background-color: rgba(255,255,255,.1);
    color: var(--ui-color--white);
}

.badge--small {
    padding: 0 .5em;
}

.badge--round.badge--small {
    /* because it's so ugly otherwise T_T */
    height: 18px;
    min-width: 18px;
}

.badge--inline {
    height: 16px;
}

.badge--yellow {
    background: var(--color-yellow--500);
}

.input {
    box-shadow: none;
}

.input.input--inline {
    width: auto;
}

.input.input--disabled {
    opacity: .5;
}

.input.input--disabled:hover {
    cursor: not-allowed;
    border-color: inherit;
}

select option, option {
    color: #000 !important;    /* yep, that's right */
    /*
    https://github.com/ubio/css/blob/5a31a487426b05100f1a0ca4103317e45b6556c0/stylesheets/base.css#L133
    */
}

.subtle {
    opacity: .5;
}

.frameless {
    border-width: 0;
}

.account-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;

    color: var(--ui-color);
    background: var(--color-yellow--300);
    letter-spacing: 0;

    font-family: var(--font-family--alt);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.clickable {
    cursor: pointer;
}
