.input.input--inverse {
    border: 0;
    background-color: rgba(255,255,255,.1);
    color: var(--ui-color--white);
}

.badge--small {
    padding: 0 .5em;
}

.badge--round.badge--small {
    /* because it's so ugly otherwise T_T */
    height: 18px;
    min-width: 18px;
}

.badge--inline {
    height: 16px;
}

.badge--yellow {
    background: var(--color-yellow--500);
}

.input {
    box-shadow: none;
    border-radius: 2px;
    border-color: var(--color-mono--600);
}

.input.input--inline {
    width: auto;
}

.input.input--disabled {
    opacity: .5;
}

.input.input--disabled:hover {
    cursor: not-allowed;
    border-color: inherit;
}

select option, option {
    color: #000 !important;    /* yep, that's right */
    /*
    https://github.com/ubio/css/blob/5a31a487426b05100f1a0ca4103317e45b6556c0/stylesheets/base.css#L133
    */
}

.subtle {
    opacity: .5;
}

.frameless {
    border-width: 0;
}

.account-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 100%;

    color: var(--ui-color);
    background: var(--color-yellow--300);
    letter-spacing: 0;

    font-family: var(--font-family--alt);
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
}

.clickable {
    cursor: pointer;
}

.textarea {
    border-radius: 2px;
    border-color: var(--color-mono--600);
}

.select {
    background-color: var(--ui-color--white);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 960 560" fill="black"><path d="M480 344.2L268.9 131.9c-15.8-15.9-41.3-15.9-57.1 0 -15.8 15.9-15.8 41.6 0 57.4l237.6 238.9c8.4 8.5 19.6 12.3 30.6 11.7 11 0.6 22.2-3.2 30.6-11.7l237.6-238.9c15.8-15.9 15.8-41.6 0-57.4s-41.3-15.9-57.1 0L480 344.2z"/></svg>');
    position: relative;
    box-shadow: none;
    border-radius: 2px;
    border: 1px solid var(--color-mono--600);
    background-position: right 2px center;
}
