.button.button--inverse {
    color: var(--ui-color--white);
}

.button.button--inverse:hover {
    background-color: rgba(255,255,255,.1);
}

.button.button--secondary {
    background: var(--color-cool--600);
    color: var(--ui-color--white);
    box-shadow: none;
    border: 0;
}

.button.button--secondary:hover {
    background: var(--color-cool--700);
}

.button.button--yellow {
    background: var(--color-yellow--300);
    border-color: var(--color-yellow--900);
}

.button.button--yellow:hover {
    background: var(--color-yellow--400);
}

.input.input--inverse {
    border: 0;
    background-color: rgba(255,255,255,.1);
    color: var(--ui-color--white);
}

.badge--small {
    padding: 0 .5em;
}

.badge--round.badge--small {
    /* because it's so ugly otherwise T_T */
    height: 18px;
    min-width: 18px;
}

.badge--inline {
    height: 16px;
}

.badge--yellow {
    background: var(--color-yellow--500);
}

.input {
    box-shadow: none;
}

.input.input--inline {
    width: auto;
}

.input.input--disabled {
    opacity: .5;
}

.input.input--disabled:hover {
    cursor: not-allowed;
    border-color: inherit;
}

option {
    color: #000;
}

.subtle {
    opacity: .5;
}

.frameless {
    border-width: 0;
}

/* automation cloud styles */
.automation-cloud {
    font-family: var(--font-family--automation-cloud);
}

.automation-cloud .button {
    font-family: inherit;
    font-size: inherit;
    font-weight: 400;

    margin-right: 1em;
    height: 2em;
    border: 1px solid var(--color-mono--600);
    border-radius: 2px;
    color: var(--color-cool--800);
}

.automation-cloud .button__icon {
    font-size: 1.2em;
}
