@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600&display=swap');

@import '../node_modules/@ubio/css/index.css';
@import './variables.css';
@import './transitions.css';
@import './article.css';

@import './components/arrow.css';
@import './components/codemirror.css';
@import './components/dnd.css';
@import './components/flexrow.css';
@import './components/form.css';
@import './components/meta.css';
@import './components/param.css';
@import './components/scrollbars.css';
@import './components/section.css';
@import './components/table.css';

@import './_inbox.css';
